/* MOBILE/GLOBAL STYLES */
body {
    margin: 0;
}

input {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 0 10px 10px;
    width: 12rem;
}

img {
    display: block;
    margin: 12px auto;
}

.lb-data .lb-details {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.lb-data .lb-close {
    margin-top: 25px;
}

.lightboxOverlay {
    background-color: #134f5c;
}

/* TABLET STYLING */
@media (min-width: 768px) {
    
    input {
        margin-top: 25px;
        width: 20rem;
    }
    img{
        margin:0
    } 
    .container {
        max-width: 768px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .image {
        display: inline-block;
        margin: 25px;
    }
}

/* DESKTOP STYLING */
@media (min-width: 1024px) {
    
    input {
        max-width: 1024px;
        margin-top: 25px;
        width: 26rem;
    }
    
    .container {
        max-width: 1024px;
    }

    .lb-data .lb-caption {
        font-size: 16px;
    }
}
